<p id="notice"><%= notice %></p>

  <h1>Orders</h1>

<div class="panel-group" id="accordion">

  <% @orders.each do |order| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= order.identity %>">
          Order #
          <%= order.identity %></a>
      </h4>
    </div>
    <div id="<%= order.identity %>" class="panel-collapse collapse">
      <div class="panel-body">
        Name:
        <%= order.name %><br>
        location:
        <%= order.location %><br>
        Date Delivered:
        <%= order.datedeliv %><br>
        <%= link_to 'Edit', edit_order_path(order) %><br>
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>

  <% end %>

</div>

<br>

<%= link_to 'New Order', new_order_path %>
